<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="spomp" type="node_global" name="spomp_global" output="screen">
    <param name="TM_terrain_types_path" value="$(find spomp)/config/terrain_types.yaml"/>
    <param name="TM_static_map_path" value="$(find spomp)/test/static_map.png"/>
    <param name="TM_semantic_lut_path" value="$(find spomp)/config/semantic_lut.yaml"/>
    <param name="TM_map_res" value="1.014"/>
    <remap from="~map_sem_img" to="/asoom/map_sem_img"/>
    <remap from="~map_sem_img_center" to="/asoom/map_sem_img_center"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
  </node>
</launch>
