<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="llol_body" args="0 0 0 3.14159 0 0 body base_link" />

  <node pkg="spomp" type="node_local" name="spomp_local" output="screen">
    <param name="tbb" value="-1"/>
    <param name="TP_max_distance_m" value="1"/>
    <remap from="~pano/img" to="/os_node/llol_odom/pano/img"/>
    <remap from="~pano/camera_info" to="/os_node/llol_odom/pano/camera_info"/>
    <remap from="~pose" to="/os_node/llol_odom/pose"/>
    <remap from="~goal" to="/move_base_simple/goal"/>
  </node>
</launch>
