<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>

  <arg name="odom_frame" default="odom"/>
  <arg name="map_frame" default="map"/>
  <arg name="viz_thread_period_ms" default="1000"/>

  <arg name="M_pgo_thread_period_ms" default="1000"/>
  <arg name="M_correct_odom_per_frame" default="1"/>
  <arg name="M_dist_between_keyframes_m" default="5"/>

  <arg name="PG_num_frames_opt" default="10"/>
  <arg name="PG_allow_interpolation" default="False"/>
  <arg name="PG_between_uncertainty_loc" default="0.1"/>
  <arg name="PG_between_uncertainty_rot" default="0.1"/>
  <arg name="PG_prior_uncertainty_loc" default="0.1"/>
  <arg name="PG_prior_uncertainty_rot" default="0.1"/>

  <arg name="MM_resolution" default="2"/>
  <arg name="MM_buffer_size_m" default="50"/>
  <arg name="MM_req_point_density" default="500"/>

  <node pkg="spomp" type="node_mapper" name="spomp_mapper" output="$(arg output)">
    <!-- Remappings -->
    <remap from="~pano/img" to="os_node/rofl_odom/pano/img"/>
    <remap from="~pano/camera_info" to="os_node/rofl_odom/pano/camera_info"/>
    <remap from="~pose" to="os_node/rofl_odom/pose"/>

    <!-- Params -->
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="viz_thread_period_ms" value="$(arg viz_thread_period_ms)"/>

    <param name="M_pgo_thread_period_ms" value="$(arg M_pgo_thread_period_ms)"/>
    <param name="M_correct_odom_per_frame" value="$(arg M_correct_odom_per_frame)"/>
    <param name="M_dist_between_keyframes_m" value="$(arg M_dist_between_keyframes_m)"/>

    <param name="PG_num_frames_opt" value="$(arg PG_num_frames_opt)"/>
    <param name="PG_allow_interpolation" value="$(arg PG_allow_interpolation)"/>
    <param name="PG_between_uncertainty_loc" value="$(arg PG_between_uncertainty_loc)"/>
    <param name="PG_between_uncertainty_rot" value="$(arg PG_between_uncertainty_rot)"/>
    <param name="PG_prior_uncertainty_loc" value="$(arg PG_prior_uncertainty_loc)"/>
    <param name="PG_prior_uncertainty_rot" value="$(arg PG_prior_uncertainty_rot)"/>
  </node>
</launch>
